.logo h1 {
  color: var(--white-text);
  font-family: "Playfair Display";
  font-size: 20.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 156.863% */
}

.greentext {
  color: var(--green-text);
}

@media (max-width: 480px) {
  .logo h1 {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 375px) {
  .logo h1 {
    font-size: 16px;
    line-height: 24px;
  }
}